body{
    margin: 0;
    background-color: #040913;
}
#header-top
{
    height: 60px;
    background-color: #071225;   
    color: white;
    font-family: Montserrat medium;
    text-align: center;
    font-size: 30px;
    padding-top: 20px;
}
.merch img
{
    width: 200px;
    border: solid rgb(131, 131, 131) 1px;
    margin-left: 100px;
    margin-top: 40px;
    
}
