body{
    margin: 0;
    background-color: #040913;
    font-family: Montserrat medium;
}
#header-top
{
    height: 60px;
    background-color: #071225;   
    color: white;
    font-family: Montserrat medium;
    text-align: center;
    font-size: 30px;
    padding-top: 20px;
}
.merch 
{
    width: 200px;
    border: solid rgb(71, 71, 71) 1px;
    margin-left: 150px;
    margin-top: 40px;
    
}
img
{
    margin-left: -40px;
    
    
}
.merch .zoom-in figure img {
	transform: scale(1);
	transition: 0.5s ease-in-out;
}
.merch .zoom-in figure:hover img {
	transform: scale(1.1);
}
.merch img {
	display: block;
	width: 200px;
}
button, .Button
{
    width: 205px;
    height: 50px;
    margin-left: 148px;
    background-color: #133879;
    color: white;
    font-size: 110%;
    transition: 1s;
}


button:hover
{
    background-color: #071225;
}

#modal-creator
{
    display: none;
    background-color: rgb(212, 212, 212);
}
#modal
{
    position: fixed;
    background-color: rgba(0, 0, 0, 0.5);
}