/* Global and main page styling */
body {
    margin: 0;
    background-color: #040913;
    font-family: 'Montserrat', sans-serif;

}

#header-top {
    height: 60px;
    background-color: #071225;
    color: white;
    text-align: center;
    font-size: 30px;
    padding-top: 20px;
}

/* Styling items on main page */

.merch {
    width: 200px;
    border: solid rgb(71, 71, 71) 1px;
    margin-left: 150px;
    margin-top: 40px;
    display: inline-block;

}

.image {
    margin-left: -40px;
}

.merch .zoom-in figure img {
    transform: scale(1);
    transition: 0.5s ease-in-out;
}

.merch .zoom-in figure:hover img {
    transform: scale(1.1);
}

.merch img {
    display: block;
    width: 200px;
}


/* Styling Button class */

.Button {
    
    color: white;
    font-size: 110%;
    border: none;
    width: 205px;
    height: 50px;
    transition: 1s;
    border-right: #1b305a solid;
    background-color: #133879;
    align-items: center;
}

.Button:hover {
    background-color: #0a1e42 !important;
}


/* Styling modal window */

#modal {
    display: none;
    position: fixed;
    background-color: rgba(0, 0, 0, 0.5);
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    justify-content: center;
    overflow: scroll;

}
#modal-creator {
    display: flex;
    
}

#modal-creator {
    background-color: white;
    margin: 10%;
    padding: 20px 10px 20px 20px;
    width: 1105px;
    height: 480px;
}


#middle,
#files-holder {
    height: 700px;
}

#middle {
    height: 440px;
    width: 300px;
    margin-top: 50px;
}

/* Modal bar elements styling */

#front-sideBtn {
    background-color: #0a1e42;

}

#preview-closeBtn {
    float: right;
    margin-right: 10px;
    margin-top: 10px;
}

.closeBtn {
    display: inline-block;
    font-size: 30px;
    top: 0;
    color: #155adb;
    margin-left: 10px;
}

.closeBtn:hover,
.closeBtn:focus {
    color: #000000;
}

input[type=file] {
    display: none;
}

#file {
    margin-top: 12px;
    margin-left: 50px;
}

/* Left-side styling elements */

#workspace {
    min-width: 420px;
    min-height: 410px;
    margin-top: 10px;
}


#modal-bar {
    min-width: 420px;
    max-height: 50px;
}
#workspace .background {
    
    border: rgba(0, 0, 0, 0.5) solid 1px;
    width: 410px;
    margin-left: 0px;
    mix-blend-mode: multiply;
}

#frontCanvas,
.upper-canvas {
    margin-top: 90px ;
}

.myCanvas {
    margin-top: 50px;
    width: 100px;
    height: 200px;
    margin-left: 130px;

}

.frontSide,
.backSide {
    position: absolute;
    max-height: 250px;
    margin-top: 110px;
    margin-left: 135px;
    max-width: 135px;
    overflow: hidden;
    z-index: 4;
}

#front, #front-preview, #back-preview,
#back-preview-background, #front-background,
#front-preview-background, #front-border {
    position: absolute;
}


#back {
    display: none;
    position: absolute;
}

#back-background {
    display: none;
    position: absolute;
}

/* middle element styling */

#pallet {
    width: 205px;
    height: 300px;
    position: relative;
    margin-left: 50px;
    margin-top: 10px;
    border: none;
}

#hexa-color {
    width: 190px;
    font-size: 20px;
    margin-left: 50px;
    margin-top: 20px;
}

/* Right side/Files-holder styling */

.right-side-Btn {
    max-width: 172px;
}
#files-holder {
    border: #040913 solid 1px;
    width: 350px;
    height: 410px;
    margin-top: 10px;
    margin-right: 10px;
    overflow: scroll;
}

.image-holder img {
    display: block;
    position: relative;
    max-width: 80%;
    max-height: 80%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.front-index span,
.back-index span {
    color: black;
    width: 140px;
    margin-left: 20px;
    float: left;
    height: 50px;
    font-family: Arial, Helvetica, sans-serif;
    overflow: hidden;
    margin-top: 25px;
    display: inline-block;
    text-align: center;
}
.front-index, .back-index{
    float: left;
    height: 70px;
    width: 330px;
    border-bottom: solid black 1px;
}
.frontIcon, .backIcon{
    width: 25px;
    float: left;
    display: inline;
    margin-top: 20px;
    margin-left: 10px;
}
.frontBin, .backBin{
    width: 25px;
    float: left;
    margin-top: 20px;
    display: block;
    margin-left: 15px;
}
.image-holder{
    float: left;
    display: inline-block;
    border-right: solid black 1px;
    height: 70px;
    width: 80px;
}
#closeBtn{
    margin-left: 10px;
}
#preview-window {
    background-color: white;
    margin-top: 100px;
    width: 60%;
    height: 80%;
    display: none;
    position: fixed;
    
}